{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Mi perfil{% endblock %}

{% block content %}

<section class="wrapper align-center login">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

    <div class="container 100%">
        <h2>Bienvenido, {{ request.user.username }}</h2>

        <h3>&emsp;&emsp;&emsp;Detalles de usuario</h3>
        <br>
        <ul>
            <li><img src="{% static 'courses/images/id_icon.png' %}" alt="" style="float:left;width:5%;height:5%;border-radius:500px;margin-right:25px;margin-bottom:15px;"> <span class="list_image_text"> {{ request.user.first_name }} {{ request.user.last_name }} </span></li>
            <li class="clear_left"></li>

            <li><img src="{% static 'courses/images/user_icon.png' %}" alt="" style="float:left;width:5%;height:5%;border-radius:500px;margin-right:25px;margin-bottom:15px;"> <span class="list_image_text">{{ request.user.username }}</span></li>
            <li class="clear_left"></li>

            <li><img src="{% static 'courses/images/email_icon.png' %}" alt="" style="float:left;width:5%;height:5%;border-radius:500px;margin-right:25px;margin-bottom:15px;"> <span class="list_image_text"> {{ request.user.email }} </span></li>
            <li class="clear_left"></li>

        </ul>

        <br>
        <h3>&emsp;&emsp;&emsp;Funcionalidades</h3>
        <ol id="prettyList">
            <li id="prettyListItem"><a href="/courses/enrolled">Mis cursos</a></li>
            <li id="prettyListItem"><a href="/activity/enrolled">Mis actividades</a></li>
            {% if perms.request_permissions.add_request_permissions %}
                <li id="prettyListItem"><a href="{% url 'request_permissions:index' %}">Solicitar permisos</a></li>
            {% endif %}
        </ol>
    </div>

</section>



{% endblock %}

