{% extends "registration/base.html" %}
{% block title %}{{landingpage}}{% endblock %}

{% block content %}
<!-- Header Banner -->
<section class="bg-info">
	<div class="container py-5">
		<div class="row justify-content-center align-items-center">
			<div class="col-6 col-md-4">
				<img src="static/general/images/logoTransparent.png" alt="" class="img-fluid">
			</div>
			<div class="col-6 col-md-8 py-5 text-center">
				{% if not user.is_authenticated %}
					<h1>Únete a nosotros</h1>
				{% else %}
					<h1>Gracias por tu colaboración</h1>
				{% endif %}
				<div class="py-3 text-adaptive">Aprende Ayudando es una plataforma que permite de forma sencilla organizar cursos y eventos solidarios establecidos por profesores y entidades público privadas. Pueden participar en estos  todas aquellas personas que deseen tomar parte en cursos de servicio social.</div>
				<div class="justify-content-center">
					{% if not user.is_authenticated %}
					<div class="row justify-content-center">
						<div class="col">
							<a class="btn btn-primary" href="/register" >Registrarse</a>
						</div>
					</div>
						
					{% else %}
						<div class="row justify-content-center">
							{% if grupo == 'Profesor' or grupo == 'Estudiante' %}
							<div class="col-xl-2 col-lg-3 col-md-4 pt-3">
								<a class="btn btn-primary" href="/courses/enrolled">Ver mis cursos</a>
							</div>
							{% endif %}
							{% if grupo == 'Entidad' or grupo == 'Estudiante' %}
							<div class="col-xl-2 col-lg-3 col-md-4 pt-3">
								<a class="btn btn-primary " href="/activity/enrolled">Ver mis actividades</a>							
							</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Mission Banner -->
<section class="bg-dark text-light">
	<div class="container py-5">
		<div class="row justify-content-center align-items-center">
			<div class="col-sm-6 col-md-8">
				<h1>Nuestra misión</h1>
				<div class="py-3 text-adaptive">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ex diam, euismod et sollicitudin eu, volutpat vel velit. Duis dolor orci, volutpat a tristique nec, cursus in leo. Donec et ipsum consequat, fringilla odio pulvinar, auctor eros. Etiam ut vehicula dui. Donec sagittis justo diam. Maecenas eu mauris rutrum, egestas velit pretium, pellentesque orci. Suspendisse fringilla mi eu nisi eleifend molestie. Ut ac libero magna.</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<img  src="/static/general/images/team.jpg" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<!-- Connections Banner  -->
<section class="bg-light py-3">
	<div class="container py-5">
		<div class="row d-flex justify-content-center text-center align-items-center">
			<div class="col-12 pb-4">
				<h1 class="text-left">Una plataforma para conectar a:</h1>
			</div>
			<div class="col-lg-4">
			  <img class="rounded-circle" src="/static/general/images/student-icon.png" alt="Generic placeholder image" width="140" height="140">
			  <h2>Estudiantes</h2>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
			  <img class="rounded-circle" src="/static/general/images/teacher-icon.png" alt="Generic placeholder image" width="140" height="140">
			  <h2>Profesores</h2>
			</div>
			<div class="col-lg-4">
			  <img class="rounded-circle" src="/static/general/images/entity-icon.png" alt="Generic placeholder image" width="140" height="140">
			  <h2>Entidades Público/Privadas</h2>
			</div><!-- /.col-lg-4 -->
		  </div><!-- /.row -->
	</div>
</section>
<!-- Colaborations Banner  -->
<section class="bg-white text-dark">
	<div class="container py-5">
		<h1>En colaboración con:</h1>
		<div class="row d-flex justify-content-center text-center align-items-center">
			<div class="col">
				<img src="/static/general/images/feyalegria.jpg" alt="" height="200" width="200" class="img-fluid my-auto">
			</div>
			<div class="col">
				<img src="/static/general/images/acoes.png" alt="" height="300" width="300" class="img-fluid my-auto">
			</div>
			<div class="col">
				<img src="/static/general/images/uma_logo.jpg" width="300" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>

{% endblock %}
