{% extends "registration/base.html" %}
{% block title %}{{landingpage}}{% endblock %}

{% block content %} 
<!-- Banner -->
	<section id="banner" class="mainBanner">
		<div class="container">
			<div class="row 200%">
				<div class="6u 12u$(medium)">
					<img id="logobanner" src="/static/courses/images/logoTransparent.png" alt="" />
				</div>
				<div class="5u 12u$(medium)">
                    {% if not user.is_authenticated %}
					    <h2>Únete a nosotros</h3>
					{% else %}
					    <h2>Gracias por tu colaboración</h3>
					{% endif %}
					<p>Aprende Ayudando es una plataforma que permite de forma sencilla organizar cursos y eventos solidarios establecidos por profesores y entidades público privadas. Pueden participar en estos  todas aquellas personas que deseen tomar parte en cursos de servicio social.</p>
					{% if not user.is_authenticated %}
						<a href="/register" class="button big pink">Registrarse</a>
					{% else %}
						<a href="/courses/enrolled" class="button big pink">Ver mis cursos</a>
                        <br><br>
						<a href="/activity/enrolled" class="button big pink">Ver mis actividades</a>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

<!-- Zero -->
	<section class="wrapper style2 special">
		<div class="container">
			<div class="row 150%">
				<div class="7u 12u$(medium)">
					<h2>Nuestra misión</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ex diam, euismod et sollicitudin eu, volutpat vel velit. Duis dolor orci, volutpat a tristique nec, cursus in leo. Donec et ipsum consequat, fringilla odio pulvinar, auctor eros. Etiam ut vehicula dui. Donec sagittis justo diam. Maecenas eu mauris rutrum, egestas velit pretium, pellentesque orci. Suspendisse fringilla mi eu nisi eleifend molestie. Ut ac libero magna.</p>
				</div>
				<div class="5u 12u$(medium)">
					<img id="logobanner" src="/static/courses/images/team.jpg" alt="" />
				</div>
			</div>
		</div>
	</section>

<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>Una plataforma para conectar a </h2>
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color1 material-icons">school</i>
						<h3>Estudiantes</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
					</section>
				</div>
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color9 material-icons">face</i>
						<h3>Profesores</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
					</section>
				</div>
				<div class="4u$ 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color6 material-icons">account_balance</i>
						<h3>Entidades Público/Privadas </h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eveniet, nesciunt molestias. Ipsam, voluptate vero.</p>
					</section>
				</div>
			</div>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="container">
			<header class="major">
				<h2>En colaboración con: </h2>
			</header>
			<section class="profiles">
				<div class="row 150%">
					<div class="3u 12u$(small)">
						<img id="imgSmall" src="/static/courses/images/feyalegria.jpg" alt="" />
					</div>
					<div class="3u 12u$(small)">
						<img id="imgSmall" src="/static/courses/images/acoes.png" alt="" />
					</div>
					<div class="3u 12u$(small)">
						<img id="imgSmall" src="/static/courses/images/uma_logo.jpg" alt="" />
					</div>
				</div>
			</section>
			<footer>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolore illum, temporibus veritatis eligendi, aliquam, dolor enim itaque veniam aut eaque sequi qui quia vitae pariatur repudiandae ab dignissimos ex!</p>
				<ul class="actions">
					<li>
						<a href="#" class="button big">Lorem ipsum dolor sit</a>
					</li>
				</ul>
			</footer>
		</div>
	</section>
{% endblock %}
