{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Debate{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5">
    <!------DESCRIPCION----->
        <h1>{{ debate.title}}</h1>
    <!------MENSAJES---->
        <!------mensaje inicial---->
        <div class="container">
            <div class="row 150%">
                <div class="12u 15u$(large)">
                    <section class="box" style="text-align: left;">
                        <!------HEADER---->
                        <div style="flex: left; border-bottom: 1px black;">
                            <img src="{% static 'general/images/profile/user-icon.png' %}" alt="" style="float:left;width:2em;height:2em;border-radius:500px;margin-right:25px;margin-bottom:15px;">
                            <h3>{{initialMessage.subject}}</h3>
                            <p>de <span style="color:rgb(20, 76, 160);"> {{initialMessage.author.email}} </span> - {{initialMessage.pub_date}}</p>
                        </div>
                        <!------CONTENIDO---->
                        <div style="background-color: rgb(242, 235, 241); padding: 10px;">
                            <p>{{initialMessage.content}}</p>
                        </div>
                        <!------ACCIONES---->
                        <div style="flex:right;">
                            <a style="margin-top: 10px;" href="{% url 'forum:reply' initialMessage.id %}" class="btn btn-small btn-secondary">Responder</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!------respuestas---->
        {% if repliesList %}
                {% for message in repliesList %}
                <div class="container" style="margin-left:200px;">
                    <div class="row 150%">
                        <div class="12u 15u$(large)">
                            <section class="box" style="text-align: left;">
                                <!------HEADER---->
                                <div style="flex: left; border-bottom: 1px black;">
                                    <img src="{% static 'general/images/profile/user_icon.png' %}" alt="" style="float:left;width:2em;height:2em;border-radius:500px;margin-right:25px;margin-bottom:15px;">
                                    <h3>{{message.subject}}</h3>
                                    <p>de <span style="color:rgb(20, 76, 160);"> {{message.author.email}} </span> - {{message.pub_date}}</p>
                                </div>
                                <!------CONTENIDO---->
                                <div style="background-color: rgb(242, 235, 241); padding: 10px;">
                                    <p>{{message.content}}</p>
                                </div>
                                <!------ACCIONES---->
                                <div style="flex:right;">
                                    <a style="margin-top: 10px;" href="{% url 'forum:reply' message.id %}" class="btn btn-small btn-secondary">Responder</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                {% endfor %}
        {% endif %}</p>
    <!------VOLVER A FORO----->
        <a style="margin-bottom: 50px;" href="{% url 'forum:join' forum.id %}" class="btn btn-small btn-warning">Volver a foro</a>
        <!------BORRAR DEBATE----->
        {% if isAuthor is True %}
        <a style="margin-bottom: 50px;" href="{% url 'forum:deleteDebate' debate.id %}" class="btn btn-small btn-danger">Borrar debate</a>
        {% endif %}
        
    </div>
</section>

{% endblock %}
