{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Responder{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5">
        <h1 class="courseTitle">Responder a:</h1>
        <!------MENSAJE ORIGINAL---->
        <!------mensaje inicial---->
        <div class="container my-3">
            <div class="row">
                <!------HEADER---->
                <div class="col-6 d-flex">
                    <img src="{% static 'general/images/profile/user-icon.png' %}" alt="" style="width:2em;height:2em;">
                    <h3 class="mx-3">{{originalMessage.subject}}</h3>
                </div>
                <div class="col-6 text-right">
                    <p>de <span class="text-secondary"> {{originalMessage.author.email}} </span> - {{originalMessage.pub_date}}</p>
                </div>
                <!------CONTENIDO---->
                <div class="col-12 bg-info">
                    <p>{{originalMessage.content}}</p>
                </div>
            </div>
        </div>
        
        <div class="container text-center">
            <form action="{% url 'forum:reply' originalMessage.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="message_subject">Asunto*</label>
                    <input type="text" name="message_subject" class="form-control text-center" value="Re: {{originalMessage.subject}}"id="">
                </div>
                <div class="form-group">
                    <label for="message_content">Mensaje*</label>
                    <textarea class="form-control text-center" name="message_content" rows="3"></textarea>
                </div>
                <input type="submit" value="Enviar" class="btn btn-success btn-lg">
            </form>
        </div>
    </div>
</section>

{% endblock %}