{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Responder{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container">
        <h1 class="courseTitle">Responder a:</h1>
        <!------MENSAJE ORIGINAL---->
        <div class="container">
            <div class="row 150%">
                <div class="12u 15u$(large)">
                    <section class="box" style="text-align: left;">
                        <!------HEADER---->
                        <div style="flex: left; border-bottom: 1px black;">
                            <img src="{% static 'general/images/profile/user_icon.png' %}" alt="" style="float:left;width:2em;height:2em;border-radius:500px;margin-right:25px;margin-bottom:15px;">
                            <h3>{{originalMessage.subject}}</h3>
                            <p>de <span style="color:rgb(20, 76, 160);"> {{originalMessage.author.email}} </span> - {{originalMessage.pub_date}}</p>
                        </div>
                        <!------CONTENIDO---->
                        <div style="background-color: rgb(242, 235, 241); padding: 10px;">
                            <p>{{originalMessage.content}}</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="container 75% align-center">
            <form action="{% url 'forum:reply' originalMessage.id %}" method="POST">
                {% csrf_token %}
                <p>Asunto*: <input type="text" name="message_subject" value="Re: {{originalMessage.subject}}"></p>
                <p>Mensaje*: <input type="textarea" class="biggerTextarea" name="message_content"></p>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
</section>

{% endblock %}