{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Proporcionar permisos{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">
{% endblock %}

{% block content %}

<section class="bg-white text-dark py-5 min-vh-100">

    <div class="container 100%">
        <h2>Proporcionar permisos</h2>

        <h3>Solicitudes</h3>
        <br>
        {% if permission_requests %}
            <table class="alt">
            <thead>
                <tr>
                    <th style="text-align:center;"><strong style="font-size:20px">Nombre usuario</strong></th>
                    <th style="text-align:center;"><strong style="font-size:20px">Rol deseado</strong></th>
                    <th style="text-align:center;"><strong style="font-size:20px">Acción</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for selected_request in permission_requests %}
                <tr>
                    <td><strong>{{ selected_request.requester.username }}</strong></td>
                    <td><strong>{{ selected_request.role }}</strong></td>
                    <td style="text-align:center;">
                        <ul class="actions" style="margin-top: 25px;">
                            <li style="margin-left: 20%;">
                                <a href="{% url 'request_permissions:deny' selected_request.id %}" class="button special" type="submit" name="deny">Denegar</a>
                            </li>
                            <li style="margin-left: 20%;">
                                <a href="{% url 'request_permissions:accept' selected_request.id %}" class="letraEnBlanco" type="submit" name="accept">Aceptar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% else %}
            <p>No hay solicitudes de permisos disponibles.</p>
        {% endif %}
    </div>

</section>



{% endblock %}

