{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Proporcionar permisos{% endblock %}

{% block content %}

<section class="wrapper align-center login">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">

    <div class="container 100%">
        <h2>Proporcionar permisos</h2>

        <h3>Solicitudes</h3>
        <br>
        {% if permission_requests %}
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <ol id="prettyList" style="width:92%;">
                {% for request in permission_requests %}
                <li id="prettyListItem" style="padding-top: 20px; padding-bottom: 20px">Solicitud de: {{ request.requester.username }} 
                    <br><br>
                    <div class="clear_right"></div>
                    <a href="{% url 'request_permissions:deny' request.id %}" class="button" type="submit" name="deny">Denegar</a>
                    <a href="{% url 'request_permissions:accept' request.id %}" class="button pink" type="submit" name="accept">Aceptar</a>
                </li>
						
                {% endfor %}
            </ol>
            </form>
        {% else %}
            <p>No hay solicitudes de permisos disponibles.</p>
        {% endif %}
    </div>

</section>



{% endblock %}

