{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Solicitar permisos{% endblock %}

{% block content %}

<section class="wrapper align-center login">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">

    <div class="container 75% minHeightSmaller">
        <h2>Solicitar permisos</h2>
        <a  href="{% url 'request_permissions:redirectForm' 'Profesor' %}" class="button big">Profesor</a>
        <a  href="{% url 'request_permissions:redirectForm' 'EntidadPublicoPrivada' %}" class="button big">Entidad Público/Privada</a>
    </div>
</section>



{% endblock %}

