{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Solicitar permisos{% endblock %}

{% block content %}

<section class="bg-white text-dark py-5 min-vh-100">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">
    <div class="container py-5 text-center">
        {% if solicitudExistente %}
                <h2>Ya ha enviado una solicitud.</h4>
                <a href="/account" class="btn btn-warning btn-lg">Volver a mi perfil</a>
            </div>
        {% else %}
                <h2>Solicitar permisos</h2>
                <a  href="{% url 'request_permissions:redirectForm' 'Profesor' %}" class="btn btn-warning btn-lg">Profesor</a>
                <a  href="{% url 'request_permissions:redirectForm' 'EntidadPublicoPrivada' %}" class="btn btn-warning btn-lg">Entidad Público/Privada</a>
            </div>
        {% endif %}
    </div>
    
</section>



{% endblock %}

