{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Solicitar permisos profesor{% endblock %}

{% block content %}

<section class="bg-white text-dark py-5 min-vh-100">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">

    <div class="container py-5 text-center">
        <h2>Solicitar permisos de profesor</h2>
        <form action="{% url 'request_permissions:create' 'Profesor' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="telefono">Número de teléfono:</label>
                <input type="text" name="telefono" class="form-control text-center" id="">
            </div>
            <input type="submit" value="Enviar solicitud" class="btn btn-secondary btn-lg">
        </form>
    </div>
    
</section>



{% endblock %}