AprendeAyudando/activity/__pycache__/
AprendeAyudando/AprendeAyudando/__pycache__/
AprendeAyudando/request_permissions/__pycache__/
AprendeAyudando/request_permissions/migrations/__pycache__/
AprendeAyudando/forum/__pycache__/
