appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
attrs==20.2.0
certifi==2020.6.20
click==7.1.2
colorama==0.4.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.3
filelock==3.0.12
gunicorn==20.0.4
isort==5.4.2
joblib==0.17.0
jsonschema==3.2.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pipenv==2020.8.13
plyer==1.2.4
psycopg2==2.8.6
pylint==2.6.0
pyrsistent==0.17.3
pyserial==3.4
python-dateutil==2.8.1
pytz==2020.1
regex==2020.10.15
six==1.15.0
sqlparse==0.4.1
toml==0.10.1
tqdm==4.50.2
virtualenv==20.0.25
virtualenv-clone==0.5.4
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1