<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cursos - Aprende Ayudando</title>


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
  </head>
  <body>
      <img src="{% static 'courses/images/logo.png' %}" alt="">
      <!--AQUI PONDRIA EL BOTON PARA LA SOLICITUD DE PROFESOR O ENTIDAD PUBLICA/PRIVADA-->
      <h1>Lista de cursos</h1>
    {% if courseList %}
    <ol id="listaCursos">
        {% for course in courseList %}
            {% if not course.id in courses_list_inscripted %}
                <li><a href="{% url 'courses:inscription' course.id %}">{{ course.title }}</a></li>
            {% else %}
                <li><a href="{% url 'courses:join' course.id %}">{{ course.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
    {% else %}
        <p>No courses are available.</p>
    {% endif %}

  </body> 
</html>