{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Mensajería{% endblock %}
{% load auth_extras %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'messaging/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
    <section class="wrapper login">
        <div class="container 100% listaActividades">
            <div class="activityElement">
                <h2>Mensajes</h2>
                <div class="activityElementRight">
                    <a style="margin-top: 25px;" href="{% url 'messaging:doMessage' %}" type="submit" class="letraEnBlanco">Redactar Mensaje</a>
                </div>
                <div class="activityElementContent">
                    <div id="myBtnContainer" class="activityElementContent">
                        <button class="btn active" onclick="filterSelection('all')">Mostrar todo</button>
                        <button class="btn" onclick="filterSelection('recibidos')">Recibidos</button>
                        <button class="btn" onclick="filterSelection('enviados')">Enviados</button>
                    </div>
                    <br>
                    <br>

                    <!--Recibidos-->
                    <div class="filterDiv recibidos">
                        {% if list_received_message %}
                            <ol id="prettyList" style="width:92%;">
                                {% for received_message in list_received_message %}
                                    <li id="prettyListItem">
                                        <a href="{% url 'messaging:viewMessage' received_message.id %}">
                                            {{ received_message.user_destination.first_name }} {{ received_message.user_destination.last_name }}
                                            - {{ received_message.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <p>No has recibido ningún mensaje.</p>
                        {% endif %}
                    </div>

                    <!--Enviados-->
                    <div class="filterDiv enviados">
                        {% if list_sent_messages %}
                            <ol id="prettyList" style="width:92%;">
                                {% for sent_message in list_sent_messages %}
                                    <li id="prettyListItem">
                                        <a href="{% url 'messaging:viewMessage' sent_message.id %}">
                                            {{ sent_message.user_origin.first_name }} {{ sent_message.user_origin.last_name }}
                                            - {{ sent_message.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <p>No has enviado ningún mensaje.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);     
                }
            }
            element.className = arr1.join(" ");
        }


        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

{% endblock %}
