{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Inicio de sesión{% endblock %}

{% block content %}
<section class="wrapper align-center login">
    <div class="container 50%">
        <h2>Log In</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <p align = "right">
            <a href="/recoverpassword" align = "right">Forgot password?</a>
          </p>
          <button class="button big" type="submit">Log In</button>
        </form>
    </div>
</section>
  </div>
{% endblock %}
