{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Inicio de sesión{% endblock %}

{% block content %}
<section class="bg-primary text-light py-5">
  <div class="container text-center py-5">
    <h2>Log In</h2>
    <div class="col gy-3">
        <form class="text-center" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="col py-1 text-center">
            <input type="submit" value="Login" class="btn btn-success">
          </div>
        </form>
    </div>
  </div>
</section>
{% endblock %}
