{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Editar Perfil{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
        <h2>Editar perfil</h2>
        <form action="{% url 'update' user.username %}" method="POST">
            {% csrf_token %}
            {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}
        
            <div class="form-group clearfix py-1 text-center">
                <label for="{{ form.username.id_for_label }}" class="control-label pb-1">Nombre de usuario:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.username }}
                    </div>
                </div>
                
            </div>
            <div class="form-group clearfix py-1 text-center">
                <label for="{{ form.email.id_for_label }}" class="control-label pb-1">Email:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <div class="form-group clearfix py-1 text-center">
                <label for="{{ form.password.id_for_label }}" class="control-label pb-1">Nueva contraseña:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.password }}
                    </div>
                </div>
            </div>
            <div class="form-group clearfix py-1 text-center">
                <label for="{{ form.password_repeat.id_for_label }}" class="control-label pb-1">Confirmar contraseña:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.password_repeat }}
                    </div>
                </div>
            </div>
            <div class="form-group clearfix py-1 text-center">
                <label for="{{ form.first_name.id_for_label }}" class="control-label pb-1">Nombre:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.first_name }}
                    </div>
                </div>
            </div>
            <div class="form-group clearfix py-1 text-center">
                <label for="{{ form.last_name.id_for_label }}" class="control-label pb-1">Apellidos:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <div class="col py-1 text-center">
                <input type="submit" value="Editar" class="btn btn-success btn-lg mb-5">
            </div>
        </form>
    </div>
</section>
{% endblock %}