{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Recuperar Contraseña{% endblock %}

{% block content %}
<section class="wrapper align-center login">
    <div class="container 50%">
        <h2>Forgot password?</h2>
        <form action="" method="POST">
            {% csrf_token %}

            {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}
            <div class="form-group clearfix">
                <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email</span>:</label>
                    <div class="col-md-6">
                        {{ form.email }}
                    </div>
            </div>
            <br>
            <div class="col-md-6 col-md-offset-4">
                <button class="button big" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
  </div>
{% endblock %}