{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Recuperar Contraseña{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
        <h2>Forgot password?</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% if error_message %}
                <p class="bg-danger p-d ml-b">{{ error_message }}</p>
            {% endif %}
            {% if message %}
                <p class="p-d ml-b">{{ message }}</p>
            {% endif %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</span>:</label>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <input type="submit" value="Enviar" class="btn btn-secondary btn-lg">
        </form>
    </div>
</section>
  </div>
{% endblock %}