{% extends "registration/base.html" %}
{% block title %}Noticia{% endblock %}
{% block content %}
{% load static %}

<div class="container bg-light">
    <div class="row text-center min-vh-100">
        <div class="col-12 mt-5">
            {% if isCreate %}
            <div class="h1">Crear noticia</div>
            {% else %}
            <div class="h1">Modificar noticia</div>
            {% endif %}

            <form action="{% url 'news:news-add' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class = "btn btn-lg btn-success" type="submit" value="Submit">
            </form>
        </div>

    </div>
</div>

{% endblock %}