{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Noticias{% endblock %}

{% block content %}

<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5">
        <h1 class="text-center">Noticias</h1>
        <div class="col-12 text-right">
            {% if tienePermisos %}
            <a class = "btn btn-secondary" href="{% url 'news:news-add' %}">
                Crear noticia
            </a>
            {% endif %}
        </div>
        <div class="row">
            {% for n in news_list %}
                <div class="col-12">
                    <h2> <a href="{% url 'news:news-detail' n.pk %}" class="text-decoration-none">{{ n.headline }} </a></h2>
                </div>
                <div class="col-12">
                    <p> {{ n.content }} </p>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}