{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Solicitudes entrantes{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
<section class="wrapper align-center login">

    <div class="container 100%">
        <h3>Solicitudes de acceso</h3>
        {% if user_list %}
        <table class="alt">
            <thead>
                <tr>
                    <th style="text-align:center;"><strong style="font-size:20px">Nombre usuario</strong></th>
                    <th style="text-align:center;"><strong style="font-size:20px">Acción</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for esteUsuario in user_list %}
                <tr>
                    <td><strong>{{ esteUsuario.requester.username }}</strong></td>

                    <td style="text-align:center;">
                        <form action="{% url 'activity:action_activity_request' activity.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="selected_username" value="{{ esteUsuario.requester }}">
                            <ul class="actions" style="margin-top: 25px;">
                                <li>
                                    <input type="submit" value="Aceptar" name="aceptar" class="letraEnBlanco">
                                </li>
                                <li style="margin-left: 20%;">
                                    <input type="submit" value="Rechazar" name="rechazar" class="special">
                                </li>
                            </ul>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No hay solicitudes de estudiantes disponibles.</p>
        {% endif %}
    </div>

</section>
{% endblock %}