{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Curso{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}
<section class="wrapper align-center login">
    

    <div class="container 100%">

        <h1>{{ activity.title }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
        {% if isOwner or user.is_superuser %}
            {% if isOwner %}
                <p>Bienvenido a tu actividad: <strong>{{ activity.title }}</strong></p>
            {% else %}
                <p>Hola {{ usuario.first_name }}, te encuentras en la actividad <strong>{{ activity.title }}</strong> de la Entidad Publica/Privada <strong>{{ activity.entity.first_name }}</strong></p>
            {% endif %}
            <a style="margin-bottom: 50px;" href="{% url 'forum:create' activity.id %}" class="button small pink">Crear un foro</a>
            <a style="margin-bottom: 50px;" href="{% url 'activity:activityrequest' activity.id %}" class="button small pink">Ver solicitudes</a>
        {% else  %}
            <p>Hola {{ usuario.first_name }}, te encuentras en la actividad: <strong>{{ activity.title }}</strong> de la Entidad Publica/Privada <strong>{{ activity.entity.first_name }}</strong></p>
        {% endif %}
            <p>Actividad restringida:
                <strong>
                    {% if activity.restricted_entry %}
                        SI
                    {% else %}
                        NO
                        {% if user.is_authenticated and not show_de_enroll and not isOwner %}
                            <form action="{% url 'activity:join' activity.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Guardar Actividad">
                            </form>
                        {% endif %}
                    {% endif %}
                </strong>
            </p>

        {% if show_de_enroll %}
            {% if not activity.restricted_entry %}
                <form action="{% url 'activity:leave' activity.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Desvincular Actividad">
                </form>
            {% else %}
                <form action="{% url 'activity:leave' activity.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Desmatricularse">
                </form>
            {% endif %}
        {% endif %}

        {% if forumListCourse %}
            <ol id="prettyList" style="width:92%;">
                {% for forum in forumListCourse %}
                    <li id="prettyListItem"><a href="{% url 'forum:join' forum.id %}">{{ forum.title }}</a></li>
                {% endfor %}
            </ol>
        {% else %}
            <p>Lo sentimos, no hay foros disponibles.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
