{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Actividad{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}
<section class="wrapper align-center login">
    

    <div class="container 100%">

        <h1>{{ activity.title }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
<!-- DESCRIPCION -->
        <div class="courseElement">
            <div class="courseElementLeft"> 
                {% if isOwner %}
                    <p>Bienvenido a tu actividad: <strong>{{ activity.title }}</strong></p>
                {% else %}
                    <p>Hola {{ usuario.first_name }}, te encuentras en la actividad <strong>{{ activity.title }}</strong> de la Entidad Publica/Privada <strong>{{ activity.entity.first_name }}</strong></p>
                {% endif %}
                {% if activity.restricted_entry and isOwner%}
                    <a style="margin-bottom: 50px;" href="{% url 'activity:activityrequest' activity.id %}" class="button small pink">Ver solicitudes</a>
                    <a href="{% url 'activity:users' activity.id %}" class="button small pink">Ver usuarios inscritos</a>
                {% endif %}
            </div>

            <div class="courseElementContent">
                <p>{{ activity.description }}</p> 
                <p>Actividad restringida:
                    <strong>
                        {% if activity.restricted_entry %}
                            SI
                        {% else %}
                            NO
                            {% if user.is_authenticated and not show_de_enroll and not isOwner %}
                                <form action="{% url 'activity:join' activity.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Guardar Actividad">
                                </form>
                            {% endif %}
                        {% endif %}
                    </strong>
                </p>
                {% if show_de_enroll %}
                    {% if not activity.restricted_entry %}
                        <form action="{% url 'activity:leave' activity.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Desvincular Actividad">
                        </form>
                    {% else %}
                        <form action="{% url 'activity:leave' activity.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Desmatricularse">
                        </form>
                    {% endif %}
                {% endif %} 
            </div>
        </div>

<!-- FOROS -->
        <div class="courseElement">
            <div class="courseElementLeft"> 
                <h4>FOROS:</h4>
            </div>
            <div class="courseElementRight"> 
                {% if isOwner or user.is_superuser %}
                    <a  href="{% url 'forum:create' activity.id %}" class="button pink">Crear un foro</a>
                {% endif %}
            </div>
            <div class="courseElementContent"> 
                <p>{% if forumListCourse %}
                    <ol id="prettyList" style="width:92%;">
                        {% for forum in forumListCourse %}
                            <li id="prettyListItem"><a href="{% url 'forum:join' forum.id %}">{{ forum.title }}</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>Lo sentimos, no hay foros disponibles.</p>
                {% endif %}</p>
            </div> 
        </div>
        
<!-- RECURSOS -->
        <div class="courseElement">
            <div class="courseElementLeft"> 
                <h4>Recursos:</h4>
            </div>
            <div class="courseElementRight"> 
                {% if isOwner or user.is_superuser %}
                    <a href="{% url 'resources:createResource' activity.id %}" class="button pink">Crear un recurso</a>
                {% endif %}
            </div>
            <div class="courseElementContent"> 
                {% if resourceListCourse %}
                    <ol id="prettyList" style="width:92%;">
                        {% for resource in resourceListCourse %}
                            <li id="prettyListItem"><a href="{{ resource.resourceLink }}" target="_blank">{{ resource.resourceText }}</a>
                                <a class="button pink" href="{% url 'resources:delete' resource.id %}">X</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>Lo sentimos, no hay recursos disponibles.</p>
                {% endif %}
            </div> 
        </div>

<!-- Test -->
        <div class="courseElement">
            <div class="courseElementLeft">
                <h4>Tests:</h4>
            </div>
            <div class="courseElementRight"> 
                {% if isOwner or user.is_superuser %}
                    <a href="{% url 'quiz:createQuizCourse' courseOrActivity activity.id %}" class="button small">Crear un Test</a>
                {% endif %}
            </div>
            <div class="courseElementContent">
                {% if quizListActivity %}
                    <ol id="prettyList" style="width:92%;">
                        {% for quiz in quizListActivity %}
                            <li id="prettyListItem"><a href="{% url 'quiz:startQuiz' quiz.id %}">{{ quiz.title }}</a>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>Lo sentimos, no hay tests disponibles.</p>
                {% endif %}
            </div> 
        </div>

        <!-- BORRADO (SOLO DUEÑO Y ADMIN) -->
        <div class="courseElement">
            {% if isOwner or user.is_superuser %}
            <div class="courseElementContent">
                <a href="{% url 'activity:delete' activity.id %}" class="button pink">Borrar actividad</a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
