{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Curso{% endblock %}

{% block content %}
<div class="container 125% align-center minHeight">

<h1>{{ activity.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if success is True %}
    <p>Bienvenido {{ usuario.first_name }}, ahora estás inscrito en la actividad: {{ activity.title }}</p>
{% else %}
    {% if isEntity is True %}
    <p>Bienvenido a tu actividad: <strong>{{ activity.title }}</strong></p>
    <a style="margin-bottom: 50px;" href="{% url 'forum:create' activity.id %}" class="button big pink">Crear un foro</a>
    {% else  %}
    <p>Hola {{ usuario.first_name }}, te encuentras en la actividad: <strong>{{ activity.title }}</strong> de la Entidad Publica/Privada <strong>{{ activity.entity.first_name }}</strong></p>
    {% endif %}
    <p>Actividad restringida:
        <strong>
            {% if activity.restricted_entry %}
                SI
            {% else %}
                NO
                {% if user.is_authenticated and not show_de_enroll %}
                <form action="{% url 'activity:join' activity.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Guardar Actividad">
                </form>
                {% endif %}
            {% endif %}
        </strong>
    </p>
{% endif %}
{% if show_de_enroll %}
    {% if not activity.restricted_entry %}
        <form action="{% url 'activity:leave' activity.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Desvincular Actividad">
        </form>
    {% else %}
        <form action="{% url 'activity:leave' activity.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Desmatricularse">
        </form>
    {% endif %}
{% endif %}
{% if forumListCourse %}
        <ol id="prettyList" style="width:92%;">
            {% for forum in forumListCourse %}
                <li id="prettyListItem"><a href="{% url 'forum:join' forum.id %}">{{ forum.title }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
            <p>Lo sentimos, no hay foros disponibles.</p>
        {% endif %}
</div>
{% endblock %}
