{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Crear Curso{% endblock %}


{% block content %}
{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
        <h1>Crear actividad</h1>

        <form action="{% url 'activity:create' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_activity_name">Nombre de la actividad:</label>
                <input type="text" name="new_activity_name" class="form-control text-center" id="">
            </div>

            <div class="form-group">
                <label for="new_activity_description">Descripción:</label>
                <textarea class="form-control text-center" name="new_activity_description" rows="3"></textarea>
            </div>

            <fieldset class="form-group">
                <legend class="col-form-label pt-0" >¿Desea restringir la entrada?:</legend>
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_restricted_entry" value="si" id="ssi" checked>
                        <label class="form-check-label" for="ssi">
                        Si
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_restricted_entry" value="no" id="nno">
                        <label for="nno">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
            <input type="submit" value="Crear Actividad" class="btn btn-success btn-lg">
        </form>
    </div>
        
</div>
{% endblock %}