{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Actividades disponibles{% endblock %}

{% block content %}
<section class="wrapper login">
    {% load static %}
    {% load auth_extras %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">

    <div class="container 100% listaActividades">
        <div class="activityElement">
            <div class="activityElementLeft"> 
                {% if filtered_by_enrolled %}
                    <h2 class="activityTitle">Tus actividades</h2>
                {% else %}
                    <h2 class="activityTitle">Actividades disponibles</h2>
                {% endif %}
            </div>
            <div class="activityElementRight"> 
                {% if is_entity %}
                    <a style="margin-bottom: 50px;" href="{% url 'activity:create' %}" class="button pink">Añadir actividad</a>
                {% elif request.user|is_guest  %}
                    <p>Aviso: Necesitas registrarte para poder acceder a la información de las actividades restringidas.</p>
                {% endif %}
            </div>
            <div class="activityElementContent"> 
                {% if activityList %}
                <ol id="prettyList" style="width:92%;">
                    {% for activity in activityList %}
                        {% if activity.restricted_entry and request.user|is_guest or activity.restricted_entry and request.user|has_group:"EntidadPublicoPrivada" and activity.entity != request.user %}
                            <li id="prettyListItem"><span style="color:#db685a;">{{ activity.title }}</span></li>
                        {% elif not activity.id in activities_list_inscripted %}
                            <li id="prettyListItem"><a href="{% url 'activity:inscription' activity.id %}">{{ activity.title }}</a></li>
                        {% else %}
                            <li id="prettyListItem"><a href="{% url 'activity:join' activity.id %}">{{ activity.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% else %}
                    <p>Lo sentimos, no hay actividades disponibles.</p>
                {% endif %}
            </div> 

        
        
    </div>

</section>
{% endblock %}
