{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Actividades disponibles{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    {% load static %}
    {% load auth_extras %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

    <div class="container py-5">
        <div class="row">
            <div class="col-4 ml-auto mb-4"> 
                {% if filtered_by_enrolled %}
                    <h2>Tus actividades</h2>
                {% else %}
                    <h2>Actividades disponibles</h2>
                {% endif %}
            </div>
            <div class="col-8 mr-auto mb-4 text-right"> 
                {% if user|has_group:"Profesor" %}
                    <p>Aviso: Necesitas ser Estudiante para poder acceder a la información de las actividades restringidas.</p>
                {% elif user|is_guest %}
                    <p>Aviso: Necesitas registrarte para poder acceder a la información de los cursos.</p>
                {% elif is_entity %}
                    <a href="{% url 'activity:create' %}" class="btn btn-secondary">Añadir actividad</a>
                {% endif %}
            </div>

            <div class="col-12"> 
                {% if activityList %}
                <ol id="prettyList">
                    {% for activity in activityList %}
                        {% if user|is_owner:activity.entity or user|has_group:"Estudiante" or user.is_superuser or not activity.restricted_entry %}
                            <li id="prettyListItem"><a href="{% url 'activity:join' activity.id %}">{{ activity.title }}</a></li>
                        {% else %}
                            <li id="prettyListItem"><span style="color:#db685a;">{{ activity.title }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% else %}
                    <p>Lo sentimos, no hay actividades disponibles.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
