{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Usuarios inscritos{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    {% load static %}
    {% load auth_extras %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h3 class="pb-3">Usuarios inscritos</h3>
            </div>
            <div class="col-12">
                {% if userList %}
                <table class="table">
                    <thead>
                        <tr class="text-center">
                            <th><strong style="font-size:20px">Nombre usuario</strong></th>
                            <th><strong style="font-size:20px">Acción</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in userList %}
                        <tr class="text-center">
                            <td><strong>{{ user.username }}</strong></td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="{% url 'activity:removeUser' activity.id user.id %}">Expulsar</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No hay usuarios inscritos todavía.</p>
                {% endif %}
            </div>
            <div class="col-12 text-center">
                <a href="{% url 'activity:join' activity.id %}" class="btn btn-warning btn-sm">Volver a actividad</a>  
            </div>
        </div>
        
    </div>

</section>
{% endblock %}
