.activityTitle {
    font-size: xx-large;
}

.activityElement {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-auto-rows: auto;
}

.activityElementLeft { grid-area: 1 / 1 / 2 / 2; }
.activityElementRight { grid-area: 1 / 2 / 2 / 3; }
.activityElementContent { grid-area: 2 / 1 / 3 / 3; } 


.listaActividades ol {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.listaActividades ol {
    margin: 0 0 0 2em; 
}

.listaActividades   li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

.listaActividades li:hover{
    background: #eee;
}   

.listaActividades  li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.listaActividades li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.listaActividades li:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}

input[type="submit"].letraEnBlanco{
    color: #FFFFFF !important;
}

.eliminarDefaultCheckBox{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}