{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Crear Curso{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5">
    <h1>Crear un recurso nuevo</h1>
    <p>AprendeAyudando recomienda los siguientes links de acceso gratuito, sin embargo, puede colocar cualquier link</p>
    <table class="table text-center">
        <thead>
            <tr>
                <th><strong style="font-size:20px">Tipo de recurso</strong></th>
                <th><strong style="font-size:20px">Página</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Videoconferencias, Seminarios, Eventos</strong></td>
                <td><a href="https://meet.google.com/" target="_blank" style="color:#0070FF">Google Meet</a></td>
            </tr>
            <tr>
                <td><strong>Talleres</strong></td>
                <td><a href="#" target="_blank" style="color:#0070FF">Algun sitio</a></td>
            </tr>
            <tr>
                <td><strong>Tests</strong></td>
                <td><a href="" target="_blank" style="color:#0070FF">Aprende Ayudando Tests</a></td>
            </tr>
        </tbody>
    </table>
    
    <form action="{% url 'resources:createResourceWithForm' courseOrActivity activityCourseFk %}" method="POST" class="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Crear Recurso" class="btn btn-success btn-lg">
    </form>
</div>
{% endblock %}