{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Administración Test{% endblock %}
{% load auth_extras %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
    <section class="wrapper align-left login">

        <div class="container 100%">
            <h1 class="bigger">Editar Test</h1>
            <p>Título del test: <strong>{{ quiz.title }}</strong></p>
            <p>Descripción del test: <strong>{{ quiz.description }}</strong></p>
            {% if quiz.maximum_date is None %}
                <p>Fecha límite: <strong>Sin fecha límite</strong></p>
            {% else %}
                <p>Fecha límite: <strong>{{ quiz.maximum_date }}</strong></p>
            {% endif %}
            
            {% if quiz.repeatable %}
                <p>El test es repetible: <strong style="color:#2ECC71">SÍ</strong></p>
            {% else %}
                <p>El test es repetible: <strong style="color:red">NO</strong></p>
            {% endif %}

            {% if quiz.show_qualification %}
                <p>Mostrar calificación: <strong style="color:#2ECC71">SÍ</strong></p>
            {% else %}
                <p>Mostrar calificación: <strong style="color:red">NO</strong></p>
            {% endif %}

            {% if quiz.show_quiz %}
                <p>Test público: <strong style="color:#2ECC71">SÍ</strong></p>
            {% else %}
                <p>Test público: <strong style="color:red">NO</strong></p>
            {% endif %}
            <a href="{% url 'quiz:updateQuiz' quiz.id %}" type="submit" class="letraEnBlanco" style="margin-bottom:30px">Editar campos</a>
            <a href="{% url 'quiz:deleteQuiz' quiz.id %}" class="button special">Borrar Test</a>
            <h1 class="bigger">Preguntas</h1>
            <p><strong>Cosas a tener en cuenta:</p>
            <p>- Si usted elimina una pregunta, todas las calificaciones de todos los alumnos serán calculadas de nuevo automáticamente.</p>
            <p>
                - Para editar una pregunta debe poner el test en privado. Si ya existe una calificación o una persona realizando el test,
                no podrá editar la pregunta, debe eliminar la pregunta y crear una nueva.
            </p></strong>
            {% if list_questions %}
                <table class="alt">
                    <thead>
                        <tr>
                            <th style="text-align:center;" width="33%"><strong style="font-size:20px">Preguntas</strong></th>
                            <th style="text-align:center;" width="33%"><strong style="font-size:20px">Posibles Respuestas</strong></th>
                            <th style="text-align:center;" width="33%"><strong style="font-size:20px">Acción</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for question in list_questions %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;"><strong>{{ question.text }}</strong></td>

                            <td style="text-align: left; vertical-align: middle;">
                                {% with list_answers=dic_answers|get_item_from_index:question.id %}
                                    {% for answer in list_answers %}
                                        {% if answer.correct %}
                                            <p style="margin-bottom:0px;"><strong style="color:green">&#10004; {{answer.text}}</strong></p>
                                        {% else %}
                                            <p style="margin-bottom:0px;"><strong style="color:red">&#10008; {{answer.text}}</strong></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </td>

                            <td style="text-align: center; vertical-align: middle;">
                                <a href="{% url 'quiz:updateQuestion' question.id %}" type="submit" class="letraEnBlanco">Editar</a>
                                <a href="{% url 'quiz:deleteQuestion' question.id %}" class="button special">Eliminar</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay preguntas disponibles.</p>
            {% endif %}
        </div>

    </section>
{% endblock %}