{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Crear Test{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
        {% if number_questions is 0 %}
            <h2>Creación del test finalizado. Ya ha realizado todas las preguntas.</h2>
            {% if is_course %}
                <a href="{% url 'courses:join' activity_or_course_id %}" class="btn btn-success btn-lg">Volver al curso</a>
            {% else %}
                <a href="{% url 'activity:join' activity_or_course_id %}" class="btn btn-success btn-lg">Volver a la actividad</a>
            {% endif %}
        {% else %}
            <h1>Crear Test - Preguntas</h1>
            
            <form action="{% url 'quiz:createQuestions' quiz.id number_questions %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="new_question_text"><strong>Escribe la pregunta:</strong></label>
                    <input type="text" name="new_question_text" class="form-control text-center"required>
                </div>
                <div class="form-group">
                    <label for="new_question_score"><strong>Puntuación por cada respuesta acertada:</strong></p></label>
                    <input class="form-control text-center col-1 mx-auto" type="number" min="0" name="new_question_score"required>
                </div>
                <div class="form-group">
                    <label for="new_question_negative_score"><strong>Puntuación negativa cada respuesta errónea:</strong></p></label>
                    <input class="form-control text-center col-1 mx-auto" type="number" max="0" name="new_question_negative_score"required>
                </div>
                <div class="form-group">
                    <label for="number_answers"><strong>Número de respuestas posibles:</strong></p></label>
                    <input class="form-control text-center col-1 mx-auto" type="number" name="number_answers" min="1" max="20" required>
                </div>
                <input type="submit" value="Realizar respuestas" class="btn btn-success btn-lg">
            </form>
        {% endif %}
    </div>
</section>
    
{% endblock %}