{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Eliminar Test{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5">
        <h1 class="bigger">Borrar Test</h1>
        <p><strong>¿Está seguro de borrar el siguiente test?:</strong></p>
        <div class="container bg-light">
            <p><strong>{{quiz.title}}</strong></p>
            <p>{{quiz.description}}</p>
        </div>
        
        <form action="{% url 'quiz:deleteQuiz' quiz.id %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="col-form-label pt-0"><strong style="font-size:20px">Todos los datos (como las calificaciones de los distintos usuarios) asociados a este test serán borrados. ¿Está seguro?</strong></legend>
                <div class="col-sm-12">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="confirm_delete" value="no" id="no_confirm_delete" checked>
                        <label for="no_confirm_delete">
                            No.
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="confirm_delete" value="si" id="si_confirm_delete">
                        <label for="si_confirm_delete">
                            <strong class="text-danger">Sí. Entiendo que no solamente se borrará el test. También se borrará TODAS las calificaciones asociadas al test.</strong>
                        </label>
                    </div>
                </div>
            </fieldset>
            <input type="submit" value="Continuar" class="btn btn-danger btn-lg">
        </form>
    </div>
</section>
{% endblock %}