{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Realizar Test{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
    <h2>Test</h2>
    <form action="{% url 'quiz:doQuizQuestionAsked' question.id %}" method="POST">
        {% csrf_token %}
        <p><strong>{{question.text}}</strong></p>
        {% for answer in possible_answers %}
            <div class="form-group row justify-content-center">
                <label for="{{answer.id}}"class="col-5 text-left"><strong>{{answer.text}}</strong></label>
                <input type="checkbox" class="form-control col-1" id="{{answer.id}}" name="list_answers[]" value="{{answer.id}}">
            </div>
        {% endfor %}
        <div>
            {% if not is_last_answer %}
                <input type="submit"  value="Siguiente pregunta" class="btn btn-secondary btn-lg">
            {% else %}
                <input type="submit" value="Terminar Test" class="btn btn-secondary btn-lg">
            {% endif %}
        </div>
    </form>
    </div>
</section>  
    
{% endblock %}