{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Realizar Test{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}  
    <div class="container 75% align-left minHeight">
    <h2 class="bigger align-center">Test</h2>
    <form action="{% url 'quiz:doQuizCourseQuestionAsked' question.id %}" method="POST">
        {% csrf_token %}
        <p><strong>{{question.text}}</strong></p>
        {% for answer in possible_answers %}
            <p>
                <input type="checkbox" class="eliminarDefaultCheckBox" id="{{answer.id}}" name="list_answers[]" value="{{answer.id}}">
                <label for="{{answer.id}}">
                    <strong>{{answer.text}}</strong>
                </label>
            </p>
        {% endfor %}
        <br>
        <br>
        <div class="align-center">
            {% if not is_last_answer %}
                <input type="submit"  value="Siguiente pregunta">
            {% else %}
                <input type="submit" value="Terminar Test">
            {% endif %}
        </div>
    </form>
    </div>
{% endblock %}