{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Realizar Test{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container 75% align-center minHeight">
        <h2 class="bigger">Test</h2>
        {% if not exist_qualification %}
            <p>Esta seguro de inicializar el test <strong>{{quiz.title}}</strong>?</p>
            <a href="{% url 'quiz:doQuizCourse' quiz.id %}" class="button pink">Empezar Test</a>
        {% elif exist_qualification and quiz.repeatable %}
            <p><strong>Ya ha realizado este test. Desea repetir el Test?</strong></p>
            <a href="{% url 'courses:join' course.id %}" class="button pink">Volver al curso</a>
            <a href="{% url 'quiz:doQuizCourse' quiz.id %}" class="button pink">Repetir Test</a>
        {% else %}
            <p>Ya ha realizado este test anteriormente. Este test no se puede repetir.</p>
            <a href="{% url 'courses:join' course.id %}" class="button pink">Volver al curso</a>
        {% endif %}
    </div>
{% endblock %}