{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Editar Test{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
        <h1 class="bigger">Editar Test</h1>

        <form action="{% url 'quiz:updateQuiz' quiz.id %}" method="POST">
            {% csrf_token %}
            {% csrf_token %}
            <div class="form-group">
                <label for="quiz_title"><strong>Título del test:</strong></label>
                <input type="text" name="quiz_title" class="form-control text-center" value="{{quiz.title}}" required>
            </div>
            <div class="form-group">
                <label for="quiz_description"><strong>Descripción</strong></label>
                <textarea class="form-control text-center" placeholder="Descripción" value="{{quiz.description}}" name="quiz_description" rows="3"></textarea>
            </div>
            {% if quiz.maximum_date is not None %}
                <div class="form-group">
                    <label for="fecha"><strong>Fecha límite:</strong></label>
                    <input type="datetime-local" class="form-control text-center" name="fecha" value="{{quiz.maximum_date|date:'Y-m-d'}}:{{quiz.maximum_date|date:'H'}}:{{quiz.maximum_date.minute}}"></input>
                </div>
            {% else %}
            <div class="form-group">
                <label for="fecha"><strong>Fecha límite:</strong></label>
                <input type="datetime-local" class="form-control text-center" name="fecha"></input>
            </div>
            {% endif %}
            <div class="form-group">
                <label for="number_questions"><strong>Número de preguntas:</strong></p></label>
                <input class="form-control text-center col-1 mx-auto" type="number" max="100" min="1" name="number_questions" id="rating" required>
            </div>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0" ><strong>¿Desea publicar el Test de inmediato?</strong></legend>
                <div class="col-sm-12">
                    {% if quiz.show_quiz %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="show_quiz" value="si" id="si_show_quiz" checked>
                        <label for="si_show_quiz">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="show_quiz" value="no" id="no_show_quiz">
                        <label for="no_show_quiz">
                            No
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="show_quiz" value="si" id="si_show_quiz">
                        <label for="si_show_quiz">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="show_quiz" value="no" id="no_show_quiz"checked>
                        <label for="no_show_quiz">
                            No
                        </label>
                    </div>
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="col-form-label pt-0" ><strong>¿Desea que el test se pueda repetir varias veces?</strong></legend>
                <div class="col-sm-12">
                    {% if quiz.repeatable %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_repeatable" value="si" id="si_repeatable" checked>
                        <label for="si_repeatable">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_repeatable" value="no" id="no_repeatable">
                        <label for="no_repeatable">
                            No
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_repeatable" value="si" id="si_repeatable">
                        <label for="si_repeatable">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_repeatable" value="no" id="no_repeatable"checked>
                        <label for="no_repeatable">
                            No
                        </label>
                    </div>
                    {% endif %}
                </div>
            </fieldset>

            <fieldset>
                <legend class="col-form-label pt-0"><strong>¿Desea que el usuario pueda ver la calificación de inmediato (tras finalizar el test)?</strong></legend>
                <div class="col-sm-12">
                    {% if quiz.show_qualification %}
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="show_qualification" value="si" id="si_show_qualification" checked>
                        <label for="si_show_qualification">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="show_qualification" value="no" id="no_show_qualification">
                        <label for="no_show_qualification">
                            No
                        </label>
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="show_qualification" value="si" id="si_show_qualification">
                        <label for="si_show_qualification">
                            Sí
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="show_qualification" value="no" id="no_show_qualification"checked>
                        <label for="no_show_qualification">
                            No
                        </label>
                    </div>
                    {% endif %}
                </div>
            </fieldset>
            <input type="submit" value="Actualizar Test" class="btn btn-success btn-lg">
        </form>
    </div>
</section>
{% endblock %}