{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Editar Test - Respuestas{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    <div class="container py-5 text-center">
        <h2 class="bigger">Editar Test - Posibles respuestas</h2>
        
        <form action="{% url 'quiz:updateAnswers' question.id number_answers %}" method="POST">
            {% csrf_token %}

            <p><strong>Posibles respuestas (antiguas):</strong></p>
            {% for answer in list_old_answers %}
                <div class="form-group row justify-content-center">
                    <input type="text" class="form-control text-center col-4" name="old_answer_text{{ answer.id }}" value="{{ answer.text }}" required>
                    {% if answer.correct %}
                        <input type="checkbox" class="form-control text-center col-1" id="{{ answer.id }}" name="old_answer_is_correct[]" value="{{ answer.id }}" checked>
                    {% else %}
                        <input type="checkbox" class="form-control text-center col-1" id="{{ answer.id }}" name="old_answer_is_correct[]" value="{{ answer.id }}">
                    {% endif %}
                    <label for="{{ answer.id }}"></label>
                </div>
            {% endfor %}

            {% if new_number_answers > 0 %}
                <p><strong>Posibles respuestas (nuevas):</strong></p>
                {% for nn in range_new_number_answers %}
                    <div class="form-group row justify-content-center">
                        <input type="text" class="form-control text-center col-4" name="new_answer_text{{nn}}" required>
                        <input type="checkbox" class="form-control text-center col-1" id="pregunta{{nn}}" name="new_answer_is_correct[]" value="{{nn}}">
                        <label for="pregunta{{nn}}"></label>
                    </div>
                {% endfor %}
            {% endif %}
            {% if number_questions > 1 %}
                <input type="submit" value="Siguiente pregunta" class="btn btn-success btn-lg">
            {% else %}
                <input type="submit" value="Terminar Test" class="btn btn-success btn-lg">
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}