{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Crear Curso{% endblock %}

{% block content %}
<div class="container 75% align-center minHeight">
    <h1 class="bigger">Crear un curso nuevo</h1>

    <form action="{% url 'courses:create' %}" method="POST">
        {% csrf_token %}
        <p>Nombre del curso: <input type="text" name="new_course_name" id=""></p>
        <p>Descripcion: <input type="textarea" class="biggerTextarea" name="new_activity_description" id= ""></p>
        <input type="submit" value="Enviar">
    </form>
</div>
{% endblock %}