{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Curso{% endblock %}

{% block content %}
<div class="container 125% align-center minHeight">
<h1>{{ course.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if success is True %}
    <p>Bienvenido {{ usuario.first_name }}, ahora estás inscrito en el curso: {{ course.title }}</p>
{% else %}
    {% if isTeacher is True %}
    <p>Bienvenido a tu curso: <strong>{{ course.title }}</strong></p>
    {% else  %}
    <p>Hola {{ usuario.first_name }}, te encuentras en el curso: <strong>{{ course.title }}</strong> del profesor <strong>{{ course.teacher.first_name }}</strong></p>
    {% endif %}
{% endif %}
{% if grupo == 'Estudiante'%}
<form action="{% url 'courses:leave' course.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Desmatricularse">
</form>
{% else %}
{% endif %}
</div>
{% endblock %}