{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Curso{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
{% endblock %}

{% block content %}

<section class="wrapper align-center login">
    
    <div class="container 100%">
        <h1>{{ course.title }}</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


        {% if isTeacher is True %}
            <p>Bienvenido a tu curso: <strong>{{ course.title }}</strong></p>
        {% else %}
            <p>Hola {{ usuario.first_name }}, te encuentras en el curso: <strong>{{ course.title }}</strong> del profesor <strong>{{ course.teacher.first_name }}</strong></p>
        {% endif %}

        <p>{{course.description}}</p>
        {% if isTeacher is True %}
            <a style="margin-bottom: 50px;" href="{% url 'forum:create' course.id %}" class="button big pink">Crear un foro</a>
        {% endif %}

        {% if show_de_enroll %}
            <form action="{% url 'courses:leave' course.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Desmatricularse">
            </form>
        {% endif %}

        <h4>FOROS:</h4>

        {% if forumListCourse %}
            <ol id="prettyList" style="width:92%;">
                {% for forum in forumListCourse %}
                    <li id="prettyListItem"><a href="{% url 'forum:join' forum.id %}">{{ forum.title }}</a></li>
                {% endfor %}
            </ol>
        {% else %}
            <p>Lo sentimos, no hay foros disponibles.</p>
        {% endif %}
    </div>
</section>
{% endblock %}