{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Cursos {% endblock %}

{% block content %}
<section class="bg-white text-dark py-5 min-vh-100">
    {% load static %}
    {% load auth_extras %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

    <div class="container">
        <div class="row">
            <div class="col-6 ml-auto"> 
                {% if filtered_by_enrolled %}
                    <h2>Tus cursos</h2>
                {% else %}
                    <h2 class="courseTitle">Cursos disponibles</h2>
                {% endif %}
            </div>
            <div class="col-4 mr-auto"> 
                {% if is_teacher %}
                    <a style="margin-top: 25px;" href="{% url 'courses:create' %}" class="btn btn-secondary">Añadir curso</a>
                {% elif user|has_group:"EntidadPublicoPrivada" %}
                    <p>Aviso: Necesitas ser Estudiante para poder acceder a la información de los cursos.</p>
                {% elif user|is_guest %}
                    <p>Aviso: Necesitas registrarte para poder acceder a la información de los cursos.</p>
                {% endif %}
            </div>
            <div class="col-12">
                {% if courseList %}
                <ol id="prettyList" style="width:92%;">
                    {% for course in courseList %}
                        {% if user|is_owner:course.teacher or user|has_group:"Estudiante" or user.is_superuser %}
                            <li id="prettyListItem"><a href="{% url 'courses:join' course.id %}">{{ course.title }}</a></li>
                        {% else %}
                            <li id="prettyListItem"><span style="color:#db685a;">{{ course.title }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% else %}
                    <p>Lo sentimos, no hay cursos disponibles.</p>
                {% endif %}
            </div> 
        </div> 
    </div>
</section>
{% endblock %}
