{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Cursos disponibles{% endblock %}

{% block content %}
<section class="wrapper login">
    {% load static %}
    {% load auth_extras %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

    <div class="container 100%">
        <div class="courseElement">
            <div class="courseElementLeft"> 
                {% if filtered_by_enrolled %}
                    <h2>Tus cursos</h2>
                {% else %}
                    <h2>Cursos disponibles</h2>
                {% endif %}
            </div>
            <div class="courseElementRight"> 
                {% if is_teacher %}
                    <a style="margin-bottom: 50px;" href="{% url 'courses:create' %}" class="button pink">Añadir curso</a>
                {% elif user|has_group:"EntidadPublicoPrivada" %}
                    <p>Aviso: Necesitas ser Estudiante para poder acceder a la información de los cursos.</p>
                {% elif user|is_guest %}
                    <p>Aviso: Necesitas registrarte para poder acceder a la información de los cursos.</p>
                {% endif %}
            </div>
            <div class="courseElementContent">
                {% if courseList %}
                <ol id="prettyList" style="width:92%;">
                    {% for course in courseList %}
                        {% if user|is_owner:course.teacher or user|has_group:"Estudiante" or user.is_superuser %}
                            <li id="prettyListItem"><a href="{% url 'courses:join' course.id %}">{{ course.title }}</a></li>
                        {% else %}
                            <li id="prettyListItem"><span style="color:#db685a;">{{ course.title }}</span></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% else %}
                    <p>Lo sentimos, no hay cursos disponibles.</p>
                {% endif %}
            </div> 
        </div> 
    </div>

</section>
{% endblock %}
