{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Crear Curso{% endblock %}

{% block style %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container 75% align-center minHeight">
        <h1 class="bigger">Crear actividad</h1>

        <form action="{% url 'activity:create' %}" method="POST">
            {% csrf_token %}
            <p><strong>Nombre de la actividad:</strong></p> 
            <p><input type="text" name="new_activity_name" id=""></p>
            <p><strong>Descripción:</strong></p> 
            <input type="textarea" class="biggerTextarea" name="new_activity_description" id= "">
            <p>
            <fieldset>
                <legend>Desea restringir la entrada?</legend>
                
                <input type="radio" class="eliminarDefaultCheckBox" name="is_restricted_entry" value="si" id="ssi" checked>
                <label for="ssi">
                    Sí
                </label>
                
                <input type="radio" class="eliminarDefaultCheckBox" name="is_restricted_entry" value="no" id="nno">
                <label for="nno">
                    No
                </label>
            </fieldset>
        </p>
        <input type="submit" value="Crear Actividad">
    </form>
</div>
{% endblock %}