.courseTitle {
    font-size: xx-large;
    padding-left: 30px;
}

.courseElement {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-auto-rows: auto;
}

.courseElementLeft { grid-area: 1 / 1 / 2 / 2; }
.courseElementRight { grid-area: 1 / 2 / 2 / 3; }
.courseElementContent { grid-area: 2 / 1 / 3 / 3; } 

ul {
    text-align: left;
    margin-left: 40%;
    list-style-type: none;
}

/* // TODO what is email_logo  */
.user_logo { 
    background: url('/static/general/images/email_logo.png') no-repeat left top;
    height: 15%;
}

.list_image_text {
    font-weight: bold;
    line-height: 2.255555;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

#prettyList {
    counter-reset: prettyListItem; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 1em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#prettyList {
    margin: 0 0 0 0; 
}

#prettyListItem {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#prettyListItem:hover{
    background: #eee;
}   

  #prettyListItem:before{
    content: counter(prettyListItem);
    counter-increment: prettyListItem;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

  #prettyListItem:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

  #prettyListItem:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}