.courseTitle {
    font-size: xx-large;
    padding-left: 30px;
}

.courseElement {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    grid-auto-rows: auto;
}

.courseElementLeft { grid-area: 1 / 1 / 2 / 2; }
.courseElementRight { grid-area: 1 / 2 / 2 / 3; }
.courseElementContent { grid-area: 2 / 1 / 3 / 3; } 

.prettyList ul {
    text-align: left;
    margin-left: 40%;
    list-style-type: none;
}

/* // TODO what is email_logo  */
.user_logo { 
    background: url('/static/general/images/email_logo.png') no-repeat left top;
    height: 15%;
}

.list_image_text {
    font-weight: bold;
    line-height: 2.255555;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

#prettyList {
    counter-reset: prettyListItem; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 1em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#prettyList {
    margin: 0 0 0 0; 
}

#prettyListItem {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: white;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#prettyListItem:hover{
    background: #eee;
}   

  #prettyListItem:before{
    content: counter(prettyListItem);
    counter-increment: prettyListItem;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #fa8072;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

  #prettyListItem:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

  #prettyListItem:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}

.quizElements{
    display: grid;
    grid-template-columns: 50% 50%;
}
a.quizElements{
    margin: 30px;
    width: 300px;
    text-decoration: none;
}
a.borrarStyle{
    all: unset;
}
.card {
	display: grid;
	text-align: center;
	grid-template-columns: 300px;
	/* grid-template-rows: 210px 80px; */
	grid-template-areas: "text" "stats";
	border-radius: 18px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	transition: 0.5s ease;
	cursor: pointer;
	width: 300px;
	transform: scale(1.005);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}
.card-text {
	grid-area: text;
	background: rgb(235, 234, 234);
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 12px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.card-text .date {
	color: rgb(93, 93, 93);
	font-size: 14px;
}
.card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}
.card-text h2 {
	margin-top: 0px;
	font-size: 28px;
	color: #5d5d5d;
}
.card-stats {
	grid-area: stats;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: rgba(69, 69, 69, 0.87);
}
.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}
.card:hover {
    transform: scale(1.07);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.clearh2{
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}