<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Actividades - Aprende Ayudando</title>


    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'activity/style.css' %}">
  </head>
  <body>
      <img src="{% static 'activity/images/logo.png' %}" alt="">
      <!--AQUI PONDRIA EL BOTON PARA LA SOLICITUD DE PROFESOR O ENTIDAD PUBLICA/PRIVADA-->
      {% if is_entity %}
        <h5><a href="{% url 'activity:create' %}">Añadir actividad</a></h5>
      {% endif %}
      <h1>Lista de actividades</h1>
    {% if activityList %}
    <ol id="listaActividades">
        {% for activity in activityList %}
            {% if not activity.id in activities_list_inscripted %}
                <li><a href="{% url 'activity:inscription' activity.id %}">{{ activity.title }}</a></li>
            {% else %}
                <li><a href="{% url 'activity:join' activity.id %}">{{ activity.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
    {% else %}
        <p>No activities are available.</p>
    {% endif %}

  </body> 
</html>