{% extends "registration/base.html" %}
{% block title %}AprendeAyudando - Actividades disponibles{% endblock %}

{% block content %}
<section class="wrapper align-center login">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

    <div class="container 100%">
        {% if filtered_by_enrolled %}
            <h2>Tus actividades</h2>
        {% else %}
            <h2>Actividades disponibles</h2>
        {% endif %}
        <img src="{% static 'courses/images/logo.png' %}" alt="" style="width:15%;height:15%;border-radius:500px;">
        <br><br><br>

        {% if is_entity %}
			<a style="margin-bottom: 50px;" href="{% url 'activity:create' %}" class="button big pink">Añadir actividad</a>
        {% endif %}
        {% if activityList %}
        <ol id="prettyList" style="width:92%;">
            {% for activity in activityList %}
                {% if not activity.id in activities_list_inscripted %}
                    <li id="prettyListItem"><a href="{% url 'activity:inscription' activity.id %}">{{ activity.title }}</a></li>
                {% else %}
                    <li id="prettyListItem"><a href="{% url 'activity:join' activity.id %}">{{ activity.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {% else %}
            <p>Lo sentimos, no hay actividades disponibles.</p>
        {% endif %}
    </div>

</section>
{% endblock %}
